/* Universal Styling */

html {
  font-size: 18px;
  font-family: "Helvetica", sans-serif;
  color: white;
}

/* .wrapper {
  width: 960px;
  margin: 0 auto;
}
*/

h1, h2 {
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
    font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

/* Header Styling */

header {
  background-color: black;
  text-transform: uppercase;
}

.logo {
  padding: 0.66rem 0.5rem;
}

.logo img {
  height: 1.5rem;
  width: auto;
}

/* Banner Styling */

.banner {
  background-image: url("../media/images/moto.jpeg");
  height: 25rem;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-content: center;
}

.banner .bannertext {
  background-color: black;
  text-align: left;
  margin: 9rem;
  width: 20rem;
  padding-left: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 3rem;
  align-self: center;
}

.bannertext h2 {
  padding-bottom: 0.25rem;
}

/* Navigation Styling */

.navigation {
  background-color: firebrick;
  visibility: visible;
}

.navigation nav {
  padding: 0.75rem;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-basis: auto;
  align-content: center;
}

#menubig {
  visibility: visible;
}

#menu {
  visibility: hidden;
}

/* Product Styling */

.product {
  margin: 3rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
}

.productimg {
  border: 4px solid black;
  width: 30%;
  height: 15rem;
  text-align: center;
}

.productimg img {
  width: 9rem;
  height: 9rem;
  padding: 2rem 0rem;
  width: auto;
}

.product p {
  background-color: black;
  padding: 0.5rem 0;
}

/* Location Styling */

.location {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.lochours {
  width: 35%;
}

.lochours p{
  background-color: black;
  padding: 1rem 0rem 1rem 2rem;
}

.lochours span {
  color: black;
}

/* Footer Styling */

footer {
  text-align: left;
  height: 5rem;
  background-color: black;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  align-items: center;
}

/* Media Queries */

@media only screen and (max-width: 1024px) {

  .banner h1 {
    font-size: 1rem;
  }

  .banner h2 {
    font-size: 0.77rem;
  }

  .lochours {
    width: 47%;
  }

  #menubig {
    visibility: hidden;
  }

  #menu {
    visibility: visible;
    align-self: center;
  }

}
